@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

q{
	font-style: italic;
}

q b{
	font-style: normal;
}

#chapter-1-2 ol,
#chapter-1-5 ol{
	list-style-type: upper-roman;
}

#chapter-2-5 ol{
	list-style-type: none;
}

#chapter-2-5 ol li{
	margin-top: 0.5em;
}

table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	max-width: 90%;
}

td,
th{
	text-align: initial;
	vertical-align: bottom;
}

td + td,
th + th{
	text-align: right;
	padding-left: 0.5em;
}

td.total{
	border-top: 1px solid #000;
}

div{
	margin-top: 1em;
}

div p{
	text-align: center;
	text-indent: 0;
}
