@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

#dedication-1 [epub|type~="z3998:salutation"],
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* there are a lot of italicised phrases which are quotations of speech, not emphasis */
q{
	font-style: italic;
}

q b{
	font-style: normal;
}

#chapter-1-2 ol,
#chapter-1-5 ol{
	list-style-type: upper-roman;
}

#chapter-2-5 ol{
	list-style-type: none;
}

table{
	border-collapse: collapse;
	margin: 1em auto;
}

td,
th{
	text-align: initial;
	vertical-align: bottom;
}

td + td{
	font-variant-numeric: tabular-nums;
}

td + td,
th + th{
	padding-left: 0.5em;
	text-align: right;
}

tfoot th{
	font-weight: normal;
}

thead th{
	text-align: right;
}

#endnotes thead tr:first-child th{
	text-align: center;
}

td.total{
	border-top: 1px solid;
}

#dedication-1 > p:first-of-type{
	margin-bottom: 1em;
	text-align: center;
}

/* these are to support headers for tables in chapter-2-5 */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure header{
	font-variant: small-caps;
}

figure p{
	text-indent: 0;
}

figure p:last-child{
	font-style: italic;
}
